[Unit]
Description=Execute scripts on IMAP mailbox changes (new/deleted/updated messages) using IDLE, golang version.

[Service]
Type=simple
ExecStart=/usr/bin/goimapnotify -conf %h/.config/imapnotify/imapnotify.yaml
Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target
