[Unit]
Description=Execute scripts on IMAP mailbox changes (new/deleted/updated messages) using IDLE, golang version.

[Service]
Type=simple
ExecStart=/bin/goimapnotify -conf %h/.config/imapnotify/imapnotify.conf
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
