[Unit]
Description=User suspend actions
After=suspend.target
After=hibernate.target

[Service]
Type=forking
Environment="DISPLAY=%I"
ExecStart=%h/.config/scripts/restart-and-lock.sh

[Install]
WantedBy=suspend.target
WantedBy=hibernate.target
