[Unit]
Description=AwesomeWM Idle behavior controller and Screen Locker
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
Environment=DISPLAY=:0
ExecCondition=/usr/bin/bash -c '[[ $${XDG_CURRENT_DESKTOP,,} == *awesome* || $${XDG_SESSION_DESKTOP,,} == awesome || $${DESKTOP_SESSION,,} == awesome ]]'
ExecStart=%h/.config/scripts/start_xidlehook.sh
Restart=on-failure
RestartSec=30

[Install]
WantedBy=graphical-session.target
