################################################################################
########### Custom ignores with exception for specific files and subfolders ###
################################################################################

/.config/pulse/*
!/.config/pulse/daemon.conf

/.config/zim/*
!/.config/zim/style.conf

/.local/*
!/.local/bin
/.local/bin/render-wiki.sh-e
!/.local/share
/.local/share/*
!/.local/share/applications
/.local/share/applications/*
!/.local/share/applications/nvim-usercreated.desktop

################################################################################
################## Regular ignores #############################################
################################################################################

/.CFUserTextEncoding
/.DS_Store
/.ICEauthority
/.Trash
/.Xauthority
/.android
/.anyconnect
/.anydesk
/.avidemux6
/.aws
/.bash_logout
/.bundle
/.cache
/.ccache
/.cgdb
/.cisco
/.claude
/.claude.json
/.claude.json.backup
/.cmake
/.codeium
/.compiz
/.conda
/.config.git
/.config/Atom
/.config/Epic
/.config/Fonts/.uuid
/.config/FreeCAD
/.config/GIMP
/.config/LibreCAD
/.config/Luminar
/.config/Microsoft
/.config/Perforce
/.config/Pinta
/.config/QGDialogFactory
/.config/QtProject
/.config/QtProject.conf
/.config/Slack
/.config/Thunar
/.config/Yubico
/.config/advanced-rest-client
/.config/alacritty/alacritty.toml-e
/.config/alacritty/colors.yml-e
/.config/autostart
/.config/awesome/configuration/api_keys.lua
/.config/awesome/library/liblua_pam.so
/.config/awesome/library/volctl/build
/.config/awesome/library/volctl/venv
/.config/awesome/library/volctl/volctl.egg-info
/.config/awesome/library/volctl/volctl/__pycache__
/.config/awesome/theme/icons/sedpHNNtT
/.config/awesome/theme/icons/titlebar/win10/sedDwqIEQ
/.config/awesome/widget/email/icons/sedVulxFl
/.config/awesome/widget/email/mails.txt
/.config/bash/.bash_history
/.config/bash/bash_custom_homebrew_first
/.config/bash/bash_extras
/.config/blender
/.config/broot/conf.hjson
/.config/broot/launcher
/.config/buildauth
/.config/cairo-dock
/.config/calibre
/.config/cargo
/.config/catt
/.config/coc
/.config/compiz-1
/.config/configstore
/.config/conky
/.config/cppman
/.config/dconf
/.config/ddb-frontend Dev
/.config/dlv
/.config/enchant
/.config/eog
/.config/evolution
/.config/filezilla
/.config/fontconfig
/.config/gedit
/.config/git/.git-completion.bash
/.config/git/.git-completion.zsh
/.config/git/config-e
/.config/gnome-initial-setup-done
/.config/gnote
/.config/gnupg/.*
/.config/gnupg/crls.d
/.config/gnupg/openpgp-revocs.d
/.config/gnupg/private-keys-v1.d
/.config/gnupg/pubring.kbx*
/.config/gnupg/random_seed
/.config/gnupg/sshcontrol
/.config/gnupg/tofu.db
/.config/gnupg/trustdb.gpg
/.config/go
/.config/google-chrome
/.config/gtk-2.0
/.config/ibus
/.config/imapnotify
/.config/indicator-stickynotes
/.config/kazam
/.config/kde.org
/.config/libaccounts-glib
/.config/libreoffice
/.config/lxqt
/.config/maglev
/.config/mcphub
/.config/menus
/.config/monitors-v1-backup.xml
/.config/monitors.xml
/.config/monitors.xml~
/.config/mpv/fonts
/.config/mpv/log
/.config/mpv/script-opts
/.config/mpv/scripts/uosc
/.config/nautilus
/.config/neofetch/config.conf
/.config/neomutt/accounts/*/TOKEN_FILENAME*
/.config/neomutt/accounts/*/msmtp.log
/.config/neomutt/accounts/personal/raghudarshan
/.config/neomutt/accounts/work/outlook
/.config/neomutt/accounts/work/outlook-offline
/.config/neomutt/aliases
/.config/neomutt/cache
/.config/neomutt/history
/.config/neomutt/maildir
/.config/neomutt/pass.gpg_decrypted
/.config/nvim/lua/user/colorscheme.lua-e
/.config/nvim/lua/user/lualine.lua-e
/.config/oauth2ms/config.json
/.config/oauth2ms/oauth2ms
/.config/okularpartrc
/.config/okularrc
/.config/openrazer
/.config/pavucontrol.ini
/.config/pip
/.config/qalculate
/.config/ranger/colorschemes/__init__.py
/.config/ranger/colorschemes/__pycache__
/.config/ranger/colorschemes/neosolarized.py-e
/.config/ranger/plugins/__init__.py
/.config/ranger/plugins/__pycache__
/.config/ranger/rifle.conf
/.config/rclone/rclone.conf
/.config/redshift.conf
/.config/remmina
/.config/rustup
/.config/skanpagerc
/.config/systemd/user/default.target.wants
/.config/systemd/user/graphical-session.target.wants
/.config/systemd/user/pipewire-session-manager.service
/.config/systemd/user/pipewire.service.wants
/.config/systemd/user/sleep.target.wants
/.config/systemd/user/sockets.target.wants
/.config/systemd/user/xorg@.service
/.config/teams
/.config/termshark/termshark.toml-e
/.config/tmux/.tmux_history
/.config/tmux/session-restore
/.config/tmux/tmux.conf-e
/.config/totem
/.config/unity
/.config/unity-monitors-v1-backup.xml
/.config/unity-monitors.xml
/.config/update-notifier
/.config/user-dirs.dirs
/.config/user-dirs.locale
/.config/vlc
/.config/volumeicon
/.config/webbrowser-app
/.config/wireshark
/.config/xfce4
/.config/xpad
/.config/yelp
/.config/zathura/zathurarc
/.config/zoom.conf
/.config/zoomus.conf
/.config/zsh/.zcompdump*
/.config/zsh/.zsh_history
/.config/zsh/.zsh_history.backup
/.config/zsh/.zsh_history_*.bak
/.config/zsh/.zsh_sessions
/.cups
/.dazelrc
/.dbus
/.dmrc
/.docker
/.dw-dkb-extra-mount-volumes
/.dw_docker
/.eggs
/.emacs.d
/.esd_auth
/.fastai
/.fonts
/.gazebo
/.gconf
/.gem
/.gemini
/.globalrc
/.gnome
/.httpie
/.ignition
/.ipython
/.java
/.jfrog
/.jupyter
/.lbcookie
/.leetcode
/.lesshst
/.librewolf
/.lldb
/.lyxauth
/.minirc.dfl
/.mozilla
/.nano
/.netrc
/.ngc
/.nix-channels
/.nix-defexpr
/.nix-profile
/.npm
/.npmrc
/.nucleus
/.nv
/.nvcccache
/.nx
/.p4enviro
/.p4qt
/.p4tickets
/.photorec.cfg
/.pki
/.python_history
/.qt
/.remmina
/.repo_.gitconfig.json
/.repoconfig
/.ros
/.rviz
/.sdformat
/.smbcredentials
/.spotdl
/.ssh/authorized_keys
/.ssh/id_ed25519_arch
/.ssh/id_ed25519_arch.pub
/.ssh/id_ed25519_gerrit
/.ssh/id_ed25519_gerrit.pub
/.ssh/id_ed25519_github
/.ssh/id_ed25519_github.pub
/.ssh/id_ed25519_gitlab
/.ssh/id_ed25519_gitlab.pub
/.ssh/id_ed25519_imac
/.ssh/id_ed25519_imac.pub
/.ssh/id_ed25519_nv_ovx
/.ssh/id_ed25519_nv_ovx.pub
/.ssh/id_ed25519_nv_ovx_ankit
/.ssh/id_ed25519_nv_ovx_ankit.pub
/.ssh/id_ed25519_nv_shared
/.ssh/id_ed25519_nv_shared.pub
/.ssh/id_rsa_c2
/.ssh/id_rsa_c2.pub
/.ssh/known_hosts
/.ssh/known_hosts.old
/.subversion
/.sudo_as_admin_successful
/.thunderbird
/.var/app/org.mozilla.firefox
/.viminfo
/.vnc
/.vscode
/.w3m
/.wget-hsts
/.xsession-errors
/.yarnrc
/.yarnrc.yml
/.zoom
/Applications
/Bklt2_Backup
/CoreBrightness-backup
/Desktop
/Documents
/Downloads
/GNUstep
/Library
/Movies
/Music
/Pictures
/Projects
/Public
/Templates
/Videos
/snap
/syncWiki.sh
/wiki
