!.config/systemd/user/goimapnotify.service
!.config/zim/style.conf
.CFUserTextEncoding
.DS_Store
.Trash
.Xauthority
.android
.anyconnect
.aws
.bash_logout
.bundle
.cache
.ccache
.cgdb
.cisco
.cmake
.compiz
.conda
.config.git
.config/Atom
.config/Epic
.config/Fonts/.uuid
.config/GIMP
.config/Luminar
.config/Microsoft
.config/Perforce
.config/Pinta
.config/QtProject
.config/QtProject.conf
.config/Slack
.config/Thunar
.config/advanced-rest-client
.config/alacritty/colors.yml-e
.config/autostart
.config/awesome/library/liblua_pam.so
.config/awesome/widget/email/mails.txt
.config/bash/.bash_history
.config/bash/.bash_maglev
.config/bash/.bash_ros
.config/bash/bash_custom_homebrew_first
.config/bash/bash_extras
.config/buildauth
.config/cairo-dock
.config/catt
.config/coc
.config/compiz-1
.config/conky
.config/cppman
.config/dconf
.config/enchant
.config/eog
.config/evolution
.config/filezilla
.config/fontconfig
.config/gedit
.config/git/.git-completion.bash
.config/git/.git-completion.zsh
.config/gnome-initial-setup-done
.config/gnote
.config/gnupg/.*
.config/gnupg/crls.d
.config/gnupg/openpgp-revocs.d
.config/gnupg/private-keys-v1.d
.config/gnupg/pubring.kbx*
.config/gnupg/random_seed
.config/gnupg/sshcontrol
.config/gnupg/trustdb.gpg
.config/google-chrome
.config/gtk-2.0
.config/gtk-3.0
.config/ibus
.config/imapnotify/
.config/indicator-stickynotes
.config/kazam
.config/kde.org
.config/libaccounts-glib
.config/libreoffice
.config/lxqt
.config/maglev
.config/menus
.config/mimeapps.list
.config/monitors-v1-backup.xml
.config/monitors.xml
.config/monitors.xml~
.config/nautilus
.config/neofetch/config.conf
.config/neomutt/TOKEN_FILENAME
.config/neomutt/account.*.outlook
.config/neomutt/aliases
.config/neomutt/history
.config/neomutt/maildir/
.config/neomutt/msmtp.log
.config/neomutt/pass.gpg_decrypted
.config/nvim/autoload
.config/nvim/misc
.config/nvim/plugged
.config/nvim/undodir
.config/oauth2ms/config.json
.config/oauth2ms/oauth2ms
.config/pavucontrol.ini
.config/pip
.config/pulse
.config/rclone/rclone.conf
.config/redshift.conf
.config/remmina
.config/rustup
.config/systemd/user/*
.config/teams
.config/tmux/.tmux_history
.config/tmux/session-restore
.config/totem
.config/unity
.config/unity-monitors-v1-backup.xml
.config/unity-monitors.xml
.config/update-notifier
.config/user-dirs.dirs
.config/user-dirs.locale
.config/webbrowser-app
.config/wireshark
.config/xfce4
.config/xpad
.config/yelp
.config/zim/*
.config/zsh/.zcompdump*
.config/zsh/.zsh_history
.config/zsh/.zsh_history.backup
.config/zsh/.zsh_history_*.bak
.config/zsh/.zsh_sessions
.cups
.dazelrc
.dbus
.dmrc
.docker
.dw-dkb-extra-mount-volumes
.dw_docker
.eggs
.emacs.d
.esd_auth
.fonts
.gazebo
.gconf
.gem
.globalrc
.gnome
.gtkrc-2.0
.httpie
.icons
.ignition
.java
.jfrog
.lesshst
.lldb
.local
.lyxauth
.minirc.dfl
.mozilla
.nano
.netrc
.nix-channels
.nix-defexpr
.nix-profile
.npm
.npmrc
.nucleus
.nv
.nvcccache
.nx
.p4enviro
.p4qt
.p4tickets
.photorec.cfg
.pki
.python_history
.qt
.remmina
.repo_.gitconfig.json
.repoconfig
.ros
.rviz
.sdformat
.smbcredentials
.ssh/authorized_keys
.ssh/id_ed25519
.ssh/id_ed25519.pub
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/known_hosts
.ssh/known_hosts.old
.subversion
.sudo_as_admin_successful
.thunderbird
.viminfo
.vscode
.w3m
.xsession-errors
.yarnrc
Applications
Bklt2_Backup
CoreBrightness-backup
Desktop
Documents
Downloads
GNUstep
Library
Movies
Music
MyWiki
NVIDIA-Linux-x86_64-430.17.run
NVIDIA-Linux-x86_64-440.95.01.run
Perforce
Pictures
Public
Templates
UPSC
Videos
openjdk.jdk
p4v-2019.2.1904275
p4v.tgz
rig-calibrated.json
rig.json
sessions.csv
snap
syncWiki.sh
xdg
