// Config

configuration {
    modi:               "drun";
    cycle:              true;
    show-icons:         true;
    matching:           "glob";
    lines:              8;
    columns:            1;
    width:              1120;
    location:           0;
    padding:            50;
    font:               "Hack Nerd Font 20";
    hide-scrollbar:     true;
    theme:              "solarized";
    display-combi:      "rofi";
    terminal:           "alacritty";
}
