@define-color accent_color #268bd2;
@define-color accent_bg_color #268bd2;
@define-color accent_fg_color #fdf6e3;

@define-color window_bg_color #fdf6e3;
@define-color window_fg_color #657b83;

@define-color view_bg_color #eee8d5;
@define-color view_fg_color #657b83;

@define-color headerbar_bg_color #eee8d5;
@define-color headerbar_fg_color #586e75;
@define-color headerbar_border_color #93a1a1;
@define-color headerbar_backdrop_color #fdf6e3;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.07);

@define-color sidebar_bg_color #eee8d5;
@define-color sidebar_fg_color #657b83;
@define-color sidebar_backdrop_color #fdf6e3;
@define-color sidebar_shade_color rgba(0, 0, 0, 0.07);

@define-color card_bg_color #fdf6e3;
@define-color card_fg_color #657b83;
@define-color card_shade_color rgba(0, 0, 0, 0.07);

@define-color popover_bg_color #fdf6e3;
@define-color popover_fg_color #657b83;

@define-color dialog_bg_color #fdf6e3;
@define-color dialog_fg_color #657b83;

@define-color warning_bg_color #b58900;
@define-color warning_fg_color #fdf6e3;
@define-color warning_color #b58900;

@define-color error_bg_color #dc322f;
@define-color error_fg_color #fdf6e3;
@define-color error_color #dc322f;

@define-color success_bg_color #859900;
@define-color success_fg_color #fdf6e3;
@define-color success_color #859900;

@define-color destructive_bg_color #dc322f;
@define-color destructive_fg_color #fdf6e3;
@define-color destructive_color #dc322f;

@define-color borders #93a1a1;
@define-color scrollbar_outline_color #93a1a1;
