[Unit]
Description=Lock AwesomeWM before system suspend
Before=systemd-suspend.service

[Service]
Type=oneshot
User=ragu
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/ragu/.Xauthority
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
ExecStart=/home/ragu/.config/scripts/lock-before-sleep.sh

[Install]
RequiredBy=systemd-suspend.service
