#------------------------------------------------------------------------------
#-- Author       : Ragu Manjegowda
#-- Github       : @ragu-manjegowda
#------------------------------------------------------------------------------

move_left                                   h
move_right                                  l
next_page                                   <C-f>
previous_page                               <C-b>
screen_down                                 <C-d>
screen_up                                   <C-u>
# <C-k> does not work due to qt bug, so mapping to <C-p>
control_menu(down)                          <C-n>
control_menu(up)                            <C-p>
control_menu(left)                          <C-h>
control_menu(right)                         <C-l>
zoom_in_cursor                              zi
zoom_out_cursor                             zo
fit_to_page_width                           d
fit_to_page_height                          D
copy                                        y
close_window                                q

regex_search                                <space>/

next_chapter                                ]c
prev_chapter                                [c
goto_next_highlight                         ]h
goto_prev_highlight                         [h

overview_next_item                          ]p
overview_prev_item                          [p

prev_state                                  <C-o>
next_state                                  <C-i>

goto_window                                 <C-w>
delete                                      <space>x
toggle_dark_mode                            <C-r>
toggle_custom_color                         <space>r

open_document_embedded                      o
open_prev_doc                               O
open_document_embedded_from_current_path    <space>o

_define_word                                <space>d

# vim: ft=conf
