#------------------------------------------------------------------------------
#-- Author       : Ragu Manjegowda
#-- Github       : @ragu-manjegowda
#------------------------------------------------------------------------------

move_left                                   l
move_right                                  h
next_page                                   <C-f>
previous_page                               <C-b>
screen_down                                 <C-d>
screen_up                                   <C-u>
zoom_in_cursor                              zi
zoom_out_cursor                             zo
fit_to_page_width                           s
fit_to_page_height                          S
copy                                        y
close_window                                q

regex_search                                ,/

next_chapter                                ]c
prev_chapter                                [c
goto_next_highlight                         ]h
goto_prev_highlight                         [h

overview_next_item                          ]p
overview_prev_item                          [p

prev_state                                  <C-o>
next_state                                  <C-i>

goto_window                                 <C-w>
delete                                      ,d
toggle_dark_mode                            <C-r>
toggle_custom_color                         ,r

open_document_embedded                      o
open_prev_doc                               O
open_document_embedded_from_current_path    ,o

# vim: ft=conf
