#------------------------------------------------------------------------------
#-- Author       : Ragu Manjegowda
#-- Github       : @ragu-manjegowda
#------------------------------------------------------------------------------

source                          ./solarized-light.config

search_url_g                    https://www.google.com/search?q=

super_fast_search               true

font_size                       20
status_bar_font_size            20
ui_font                         Hack Nerd Font Mono

page_separator_width            1

collapsed_toc                   1

# vim: ft=conf
