[Desktop Entry]
Type=Application
Name=Master PDF Editor
GenericName=PDF Editor
Comment=Edit your PDF and XPS files
Exec=qt-solarized masterpdfeditor4 %f
Icon=/opt/master-pdf-editor-4/masterpdfeditor4.png
Categories=Office;Publishing;
MimeType=application/pdf;
