azure-cognitiveservices-search-imagesearch==2.0.1
Brotli==1.1.0
build==1.2.2.post1
fastbook==0.0.29
fqdn==1.5.1
installer==0.7.0
isoduration==20.11.0
jsonpointer==3.0.0
jupyter==1.1.1
kaleido==0.2.1
nbdev==2.3.34
plotly==5.24.1
pycryptodomex==3.21.0
pynvim==0.5.2
pyperclip==1.9.0
pysubs2==1.7.3
spotdl==4.2.10
Unidecode==1.3.8
uri-template==1.3.0
vobject==0.9.8
webcolors==24.11.1
